.header__wrapper {
    display: block;
    text-align: center;
}

.header__title {
    font-size: 3rem;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;
    line-height: 3rem;
    display: block;
}

.header__subtitle {
    font-size: 1.4rem;
    margin: 15px 0;
    display: block;
    line-height: 1.4rem;
    opacity: 0.6;
}

.btn > a {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    display: block;
    overflow: hidden;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn {
    border: none;
}