/* ----- RESET CSS ------- */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5rem;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

/* 
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Tổng quan đến chi tiết
*/

/* 
    1. VỊ trí
    2. Kích thước
    3. Màu sắc
    4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/

#app {

}

#header {
    background-color: #000;
    height: 47px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
  
}

#nav > li:hover > a,
#nav .subnav li:hover a
{
    background-color: #ccc !important;
    color: #000;
}

#nav li:hover i {
    color: #000;
}

/* Nesting element */
#nav > li > a { 
    color: #fff;
}

#nav li a {
    padding: 12px 24px;
    line-height: 23px;
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#nav .subnav a {
    color: #000;
    min-width: 160px;
    display: block;
    padding: 12px 8px;
    font-weight: 400;
}

#nav .nav-arrow-down {
    font-size: 1.4rem;
    color: #fff;
}

/* -------------- SEARCH -------------- */
#header .search-btn {
    float: right;
}

#header .search-btn-icon {
    font-size: 1.4rem;
    line-height: 23px;
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
}

#header .search-btn-icon:hover {
    background-color: #f44336 !important;
}

/* ------------------------------------- */
/* -------------- SLIDER --------------- */
#slider {
    margin-top: 47px;
    padding-top: 50%;
    background-image: url("/assets/images/newyork.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#slider .slider__text {
    position: absolute;
    bottom: 48px;
    left: 50%;
    bottom: 48px;
    text-align: center;
    color: #fff;
    transform: translateX(-50%);
    font-size: 1.4rem;
}

.slider__heading {
    font-size: 3rem;
    margin: 20px 0;
    font-weight: 500;
    line-height: 3rem;
}

.slider__description {
    margin: 15px 0;
    line-height: 1.4rem;
}



/* ------------------------------------- */

#content {
    height: auto;
}

/* -------------- ABOUT ---------------- */
#about {
    max-width: 800px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-left: auto;
    margin-right: auto;

}

.about__header {
    display: block;
    text-align: center;
}

.about__heading {
    font-size: 3rem;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;
    line-height: 3rem;
    display: block;
}

.about__subheading {
    font-size: 1.4rem;
    margin: 15px 0;
    display: block;
    line-height: 1.4rem;
    opacity: 0.6;
}

.about__content {
    font-size: 1.5rem;
    text-align: justify !important;
    line-height: 1.5;
    margin: 10px 0;
}

.about__list {
    display: flex;
    padding: 32px 0;
    text-align: center;
}

.about__list-items {
    width: 33.33%;
    float: left;
    font-size: 1.5rem;
}

.about__list-title {
    margin: 15px 0;
}

.about__list-img {
    width: 60%;
    border-radius: 4px;
    border-style: none;
    margin-bottom: 16px;
}
/* ------------------------------------- */
/* ---------------- TOUR --------------- */
#tour {
    background-color: #000;
    color: #fff;
}

.tour__date {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

.tour__date-list {
    background-color: #fff;
    list-style-type: none;
    color: #000;
}

.tour__date-items {
    padding: 8px 16px;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

.tour__date-status {
    padding: 0 8px;
    display: inline-block;
    background-color: #f44336;
    margin-left: 16px;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.4rem;
    list-style-type: none;
}

.tour__date-available {
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 0 8px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-right: 16px;
}

.tour__place {
    padding: 32px 8px;
}

.tour__place-list {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: 32px 0px;
}

.tour__place-items {
    background-color: #000;
    font-size: 1.5rem;
    margin-bottom: 16px;
    list-style: none;
}

.tour__place-content {
    background-color: #fff;
    color: #000;
    padding: 0 16px;
    font-size: 1.5rem;
}

.tour__place-img {
    width: 100%;
    display: block;
}

.tour__place-img:hover {
    opacity: 0.6;
}

.tour__place-header {
    font-weight: 500;
    margin: 16px 0;
    display: inline-block;
    line-height: 1.6rem;
}

.tour__place-time {
    color: #757575;
}

.tour__place-content button {
    margin: 16px 0;
}

/* ------------ CONTACT -------------- */
#contact {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

.contact__wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

.contact__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.contact__address {
    display: flex;
    flex-direction: column;
}

.contact__infor {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 4px;
    justify-content: flex-start;
}

.contact__infor p {
    margin-left: 16px;
}

.contact__infor i {
    width: 18px;
}

.contact__form {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
    row-gap: 8px;
    width: 50%;
}

.contact__form-name {
    padding: 12px 8px;
    width: 100%;
    font-size: 1.6rem;
    border: 1px solid #ccc;
}

.contact__form-name:last-child {
    grid-column: 1/ span 2;
}

.contact-btn {
    float: right;
    margin-bottom: 32px;
    display: inline-block;
}

/* ----------------- MAP ----------------- */
.map__img {
    width: 100%;
    height: auto;
    max-width: 100%;
    filter: grayscale(50%);
}


/* ------------------------------------- */
#footer {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    opacity: 0.6;
}

.footer__social {
    font-size: 2.4rem;
}

.footer__link {
    margin: 15px 0;
    font-size: 1.4rem;
}

.footer__link a {
    text-decoration: underline;
    color: #000;
}

.footer__social i:hover {
    opacity: 0.4;
}


/* ------------------ MODAL ------------------- */
.modal {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    padding-top: 100px;
}

.open {
    display: block;
}

.modal__container {
    background-color: #fff;
    width: 900px;
    margin: auto;
    position: relative;
    animation: modalFadeIn ease .3s;
}

.modal__header {
    background-color: #009688;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 32px 16px;
    text-align: center;
}
.modal__header > h2 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 45px;
    margin: 10px 0;
}

.modal__icon {
    margin-right: 8px;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 16px;
    font-size: 1.6rem;
    color: #fff;
}

.modal__close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal__content {
    padding: 0 16px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
}

.modal__content-label {
    margin-top: 15px;
}

.modal__content-input {
    margin-top: 15px;
    padding: 8px;
    display: block;
    overflow: visible;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1.6rem;
    line-height: 1.5;
}

.modal__content-pay-btn {
    background-color: #009688;
    color: #fff;
    border: none;
    padding: 16px;
    width: 100%;
    float: right;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 16px 0;
}

.modal__content-pay-btn:hover {
    background-color: #ccc;
    color: #000;
}

.modal__footer-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f44336;
    border: none;
    margin: 16px 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: #fff;
}

.modal__footer-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal__footer-help {
    display: block;
    float: right;
    margin: 16px 0;
}

.modal__footer-help a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ---------------------- */



